.mnt-1 {
  margin-top: 1.5rem; }

.mnt-2 {
  margin-top: 2.5rem; }

.mnt-3 {
  margin-top: 3.5rem; }

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0; }

.navbar-brand {
  font-size: 25px; }

.nav-item {
  text-decoration: none;
  color: #707070;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 10px;
  transition: .4s; }

.nav-item:hover {
  background-color: #0ebb25; }
  .nav-item:hover .nav-link {
    color: #333;
    transition: .4s; }
  .nav-item:hover .nav-link:hover {
    color: #eee; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -60px; }

@media screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0; } }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero__title2 {
    text-align: center;
    font-size: 2.5rem; }
  .hero__menu {
    text-decoration: underline;
    font-size: 44px;
    color: #0d3a03; }
  .hero__info {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px; }
  .hero__description {
    text-align: center;
    padding: 40px;
    font-style: italic;
    line-height: 2.4rem;
    font-size: 1.1rem;
    color: #555353; }

.hover__image, .hero .container .row .col-lg-6 .imagenes__cocineros {
  width: 14rem;
  border-radius: 40px;
  top: 20px;
  transition: .4s; }

.hover:hover .hover__image, .hover:hover .hero .container .row .col-lg-6 .imagenes__cocineros, .hero .container .row .col-lg-6 .hover:hover .imagenes__cocineros {
  transform: scale(1.1); }

@media screen and (min-width: 768px) {
  .hero .hover__image, .hero .container .row .col-lg-6 .imagenes__cocineros {
    width: 28rem;
    margin-top: 1rem; } }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .hero__tittle2 {
    text-align: center;
    font-size: 2.5rem;
    color: #166E22; }
  .hero .container {
    width: 100%;
    margin: 0 20px;
    margin-top: 20px; }
    .hero .container .row {
      display: flex;
      align-items: center; }
      .hero .container .row .col-lg-6 {
        display: flex;
        justify-content: center; }
        .hero .container .row .col-lg-6 .imagenes__cocineros {
          /*----------------- SASS OPERACIONES CON EXTEND---------------------- */ }
        .hero .container .row .col-lg-6 .imagenes__cocineros:hover {
          transform: scale(1.1);
          cursor: pointer; }
        .hero .container .row .col-lg-6 .description__us {
          padding: 0 30px;
          color: #555353;
          text-align: center;
          font-style: italic;
          line-height: 3.4rem;
          font-size: 0.8rem; }

@media screen and (max-width: 768px) {
  .row {
    padding: 25px 0; }
    .row .col-12 .imagenes__cocineros {
      width: 18rem; } }

.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }
  .foot__image {
    width: 70%;
    background-size: cover; }
  .foot__tittle2 {
    position: relative;
    top: 0; }
  .foot__icons {
    display: flex; }
    .foot__icons .bx {
      position: relative;
      font-size: 2.5rem;
      color: #000;
      transition: .4s; }
    .foot__icons .bxl-facebook-square:hover {
      color: #002fff; }
    .foot__icons .bxl-instagram:hover {
      color: #c92492; }
    .foot__icons .bxl-whatsapp:hover {
      color: #166E22; }

@media screen and (min-width: 768px) {
  .foot__icons .bx {
    font-size: 2.5rem; } }

.review {
  margin: 0 20px;
  overflow: hidden; }
  .review__tittle2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2.6rem;
    color: #166E22; }
  .review .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .review .reviews__testimonios {
      display: flex;
      flex-direction: column;
      background: #eee;
      padding: 30px;
      margin: 15px 25px;
      justify-content: start;
      border-radius: 10px;
      transition: .4s; }
      .review .reviews__testimonios .image {
        width: 8rem;
        margin: 0 auto;
        border-radius: 50%; }
      .review .reviews__testimonios .name {
        font-size: 20px;
        text-transform: uppercase;
        margin: 20px auto; }
      .review .reviews__testimonios .stars {
        color: #6ab04c;
        margin-bottom: 20px; }
      .review .reviews__testimonios .info {
        font-size: 1.1em;
        color: #707070;
        transition: .4s; }
  @media screen and (min-width: 768px) {
    .review .reviews {
      margin: 0 25px; }
      .review .reviews__testimonios {
        width: 400px;
        background: #fff;
        min-height: 470px;
        margin: 15px 60px; }
        .review .reviews__testimonios .image {
          width: 15rem;
          height: 10rem; } }
  .review .reviews__testimonios:hover {
    box-shadow: 7px 11px 22px #dddbdb;
    background-color: #eee;
    cursor: pointer; }

.tittle2 {
  text-align: center;
  font-size: 48px;
  top: 5px;
  color: #166E22; }

.container__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 200px);
  grid-template-areas: "imagen1 imagen2 imagen3 imagen3" "imagen1 imagen4 imagen3 imagen3" "imagen7 imagen4 imagen6 imagen9" "imagen7 imagen12 imagen6 imagen9" "imagen8 imagen8 imagen11 imagen10" "imagen8 imagen8 imagen11 imagen10" "imagen5 imagen5 imagen13 imagen13";
  padding: 26px 10px;
  object-fit: cover;
  gap: 10px; }
  .container__grid .grid__item {
    height: 100%;
    overflow: hidden;
    border-radius: 20px; }
    .container__grid .grid__item .grid__image {
      width: 96%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      filter: grayscale(0);
      transition: .4s; }
    .container__grid .grid__item .grid__image:hover {
      filter: grayscale(1); }
  .container__grid .grid__item:hover .grid__image {
    transform: scale(1.1); }
  .container__grid .item1 {
    grid-area: imagen1; }
  .container__grid .item2 {
    grid-area: imagen2; }
  .container__grid .item3 {
    grid-area: imagen3; }
  .container__grid .item4 {
    grid-area: imagen4; }
  .container__grid .item5 {
    grid-area: imagen5; }
  .container__grid .item6 {
    grid-area: imagen6; }
  .container__grid .item7 {
    grid-area: imagen7; }
  .container__grid .item8 {
    grid-area: imagen8; }
  .container__grid .item9 {
    grid-area: imagen9; }
  .container__grid .item10 {
    grid-area: imagen10; }
  .container__grid .item11 {
    grid-area: imagen11; }
  .container__grid .item12 {
    grid-area: imagen12; }
  .container__grid .item13 {
    grid-area: imagen13; }

@media screen and (max-width: 768px) {
  .container__grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "imagen1 imagen1 imagen3 imagen3" "imagen2 imagen4 imagen3 imagen3" "imagen7 imagen7 imagen9 imagen9" "imagen12 imagen6 imagen6 imagen6" "imagen8 imagen8 imagen10 imagen10" "imagen8 imagen8 imagen11 imagen11" "imagen5 imagen5 imagen5 imagen13";
    gap: 5px;
    margin: 0 10px; }
    .container__grid .grid__item .grid__image {
      filter: grayscale(0); } }

.form {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: #eee;
  box-shadow: 7px 13px 37px #000; }
  .form h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .form .form-flex .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px; }
  .form .form-flex .button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #eee;
    margin: 16px auto;
    font-size: 16px; }
