.tittle2{
    text-align: center;
    font-size: 48px;
    top: 5px;
    color: $green-color2;
}
.container__grid{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-template-areas: 
        "imagen1 imagen2 imagen3 imagen3"
        "imagen1 imagen4 imagen3 imagen3"
        "imagen7 imagen4 imagen6 imagen9"
        "imagen7 imagen12 imagen6 imagen9"
        "imagen8 imagen8 imagen11 imagen10"
        "imagen8 imagen8 imagen11 imagen10"
        "imagen5 imagen5 imagen13 imagen13";
    padding: 26px 10px;
    object-fit: cover;
    gap: 10px; 
    .grid__item{
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
        
        .grid__image{
            width: 96%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            filter: grayscale(1);
            transition: .4s; 
            }
        .grid__image:hover{
            filter: grayscale(0);
        }
        }
        .grid__item:hover .grid__image{
            transform: scale(1.1);
        }
        .item1{
            grid-area: imagen1;
        }
        
        .item2{
            grid-area: imagen2;
        }
        
        .item3{
            grid-area: imagen3;
        }
        
        .item4{
            grid-area: imagen4;
        }
        
        .item5{
            grid-area: imagen5;
        }
        
        .item6{
            grid-area: imagen6;
        }
        
        .item7{
            grid-area: imagen7;
        }
        
        .item8{
            grid-area: imagen8;
        }
        
        .item9{
            grid-area: imagen9;
        }
        
        .item10{
            grid-area: imagen10;
        }
        
        .item11{
            grid-area: imagen11;
        }
        
        .item12{
            grid-area: imagen12;
        }
        
        .item13{
            grid-area: imagen13;
        }
    
}

@media screen and (max-width: 768px) {
    .container__grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
            "imagen1 imagen2 imagen3 imagen3"
            "imagen1 imagen4 imagen3 imagen3"
            "imagen7 imagen7 imagen9 imagen9"
            "imagen12 imagen6 imagen6 imagen6"
            "imagen8 imagen8 imagen10 imagen10"
            "imagen8 imagen8 imagen11 imagen11"
            "imagen5 imagen5 imagen5 imagen13";
        gap: 5px;
        margin: 0 10px;
    }
}





