.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title2{
        text-align: center;
        font-size: $font-size;
        
    
    }
    
    &__menu{
        text-decoration: underline;
        font-size: 44px;
        color: $green-color3;
    }
    &__info{
        font-size: 25px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 25px;
    }
    &__description{
        /* color: ; */
        text-align: center;
        padding: 80px 40px;
        font-style: italic;
        line-height: 2.4rem;
        font-size: 1.5rem;
        color: rgb(85, 83, 83);
    }
}


.hover{
    &__image{
        width: 22rem;
        border-radius: 40px;
        top: 20px;
        
        transition: .4s;
    }


}
.hover:hover .hover__image{
    transform: scale(1.1);
}

/*
@media screen and (max-width: 768px) {
        .hero{
            .hover{
                    &__image{
                        width: 22rem;
                        
                    }
                }
            }
            

            
*/