.review{
    margin: 0 40px;
    overflow: hidden;
    &__tittle2{
        text-align: center;
        font-size: 48px;
        top: 5px;
        color: #166E22;
    }
    .review{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        &__testimonios{
            display: flex;
            flex-direction: column;
            background: #fff;
            padding: 30px;
            width: 300px;
            margin: 15px 20px;
            justify-content: center;
            border-radius: 20px;
            transition: .4s;
            
            .image{
                width: 13rem;
                height: 140px;
                margin: 0 auto;
                border-radius: 50%;
                }
            .name{
                font-size: 20px;
                text-transform: uppercase;
                margin: 20px auto;
                    }
            .stars{
                color: #6ab04c;
                margin-bottom: 20px;
                    }
            .info{
                font-size: 1.1em;
                color: #707070;
                transition: .4s;
                    }
            }
        }

        &__testimonios:hover{
                        box-shadow: 7px 13px 37px rgb(173, 173, 173);
                        color: #000;
                        cursor: pointer;
                    }
}