$grey-color: #707070;
$grey-color2: rgb(85, 83, 83);
$green-color: #0ebb25;
$green-color2: #166E22;
$green-color3: #0d3a03;
$black-color: #333;
$white-color: #eee;
$blue-color: #1f53c5;
$blue-border: 1px solid #1f53c5;
$shadow: 7px 13px 37px #000;
$font-size: 2.5rem;